fastapi
uvicorn[standard]
python-multipart
google-genai>=1.0.0
google-auth>=2.0.0
groq>=0.11.0
assemblyai>=0.30.0
websockets
pydantic
pinecone
python-dotenv
reportlab
ffmpeg-python
sqlmodel>=0.0.16
sqlalchemy>=2.0
psycopg2-binary
bcrypt>=4.0.0
python-jose[cryptography]
resend
